@using RecruiterBE.Responses;

@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@Styles.Render("~/content/editprofile")
<link href="/app/css/bootstrap-table.css" rel="stylesheet" />
<link href="/app/css/datepicker.css" rel="stylesheet" />

@if (ViewBag.Masters != null)
{
    ProfileCreationMastersResponse objProfileMastersResponse = ViewBag.Masters;
    List<EducationalQualificationsResponse> EducationalQualifications = objProfileMastersResponse.EducationalQualifications;
    List<CountriesResponse> Countries = objProfileMastersResponse.Countries;
    List<IndustriesResponse> Industries = objProfileMastersResponse.Industries;
    List<TechnologiesResponse> Technologies = objProfileMastersResponse.Technologies;

    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li>
                <a id="amyjobslist" href="/profile/list">
                    Resumes
                </a>
            </li>
            <li class="active">Edit Resume</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
            <input type="hidden" id="hiddencompanyid" value="@ViewBag.CompanyId" />
            <input type="hidden" id="hiddenprofileid" value="@ViewBag.ProfileId" />
        </div>
    </div><!--/.row-->

    <div class="panel">
        <div class="row">
            <div class="col-lg-12">
                <div id="divalertinfo" class="alert bg-info" role="alert" style="display:none;"><em class="fa fa-lg fa-info-circle">&nbsp;</em> <span id="spanalertinfo">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>First Name <span class="mandatory">*</span></label>
                                    <input class="form-control" placeholder="" id="textfirstname" type="text" onblur="validatetextbox(this)" />
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Last Name <span class="mandatory">*</span></label>
                                    <input class="form-control" placeholder="" id="textlastname" type="text" onblur="validatetextbox(this)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>EmailId <span class="mandatory">*</span></label>
                                    <input class="form-control" placeholder="" id="textemailid" type="text" onblur="validateemailid(this)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Alternate EmailId </label>
                                    <input class="form-control" placeholder="" id="textalternativeemailid" type="text" onblur="validatealternativeemailid(this)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Contact Number <span class="mandatory">*</span></label>
                                    <input class="form-control" placeholder="" id="textcontactnumber" type="text" onblur="validatephonenumber(this)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Alternate Contact Number </label>
                                    <input class="form-control" placeholder="" id="textalternatecontactnumber" type="text" onblur="validatealternativephonenumber(this)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Educational Qualification </label>
                                    <select class="form-control" id="selectqualification">
                                        <option value="0">Select Qualification</option>
                                        @foreach (EducationalQualificationsResponse qualification in EducationalQualifications)
                                        {
                                            <option value="@qualification.QualificationId">@qualification.QualificationName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Experience </label>
                                    <input class="form-control" placeholder="Years" maxlength="2" id="textexpyears" type="text" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <input class="form-control" placeholder="Months" maxlength="2" id="textexpmonths" type="text" onblur="validateexpmonths(this)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Location </label>
                                    <input class="form-control" placeholder="" id="textlocation" type="text" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Country </label>
                                    <select class="form-control" id="selectcountry">
                                        <option value="0">Select Country </option>
                                        @foreach (CountriesResponse country in Countries)
                                        {
                                            <option value="@country.CountryId">@country.CountryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Industry </label>
                                    <select class="form-control" id="selectindustry">
                                        <option value="0">Select Industry</option>
                                        @foreach (IndustriesResponse industry in Industries)
                                        {
                                            <option value="@industry.IndustryId">@industry.IndustryName</option>
                                        }
                                    </select>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Skills Required (seperate with comma)<span class="mandatory">*</span></label>
                                    <input class="form-control" placeholder="" id="selectskills" type="text" onblur="validatetextbox(this)" />
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Resume <span class="mandatory">*</span></label>
                                    <input type="hidden" id="hiddenresumefile" value="" />
                                    <input type="file" id="fileresume" onchange="uploadresume()" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description </label>
                                    <textarea rows="10" class="form-control" placeholder="" id="textdescription"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="divexperiences">

                            </div>
                            <div class="col-lg-12">
                                <a href="javascript:void(0)" class="btn btn-success pull-left" onclick="addnewexperience()">+ Add New</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="javascript:void(0)" class="btn btn-default pull-right" onclick="resetfields()">Reset</a>
                                <a href="javascript:void(0)" class="btn btn-primary pull-right" onclick="saveprofiledetails()">Update Resume</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.panel-->
        </div>
    </div><!--/.row-->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/app/js/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/bundles/editprofile")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ulsidemenu li").removeClass("active");
            $("#limenuprofiles").addClass("active");
            $('.datepicker').datepicker();
            getprofiledetails();
        });
    </script>
}