@using RecruiterBE.Responses;

@{
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@Styles.Render("~/content/myprofiles")
<link href="/app/css/bootstrap-table.css" rel="stylesheet" />
<link href="/app/css/datatables.min.css" rel="stylesheet" />
@if (ViewBag.Masters != null)
{
    ProfileCreationMastersResponse objProfileMastersResponse = ViewBag.Masters;
    List<EducationalQualificationsResponse> EducationalQualifications = objProfileMastersResponse.EducationalQualifications;
    List<CountriesResponse> Countries = objProfileMastersResponse.Countries;
    List<IndustriesResponse> Industries = objProfileMastersResponse.Industries;
    List<TechnologiesResponse> Technologies = objProfileMastersResponse.Technologies;

    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Resumes</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <input type="hidden" id="hiddenloginid" value="@ViewBag.LoginId" />
            <input type="hidden" id="hiddencompanyid" value="@ViewBag.CompanyId" />
        </div>
    </div><!--/.row-->

    <div class="panel">
        <div class="row">
            <div class="col-lg-12">
                <div id="divalertinfo" class="alert bg-info" role="alert" style="display:none;"><em class="fa fa-lg fa-info-circle">&nbsp;</em> <span id="spanalertinfo">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertsuccess" class="alert bg-success" role="alert" style="display:none;"><em class="fa fa-lg fa-check-circle">&nbsp;</em> <span id="spanalertsuccess">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertwarning" class="alert bg-warning" role="alert" style="display:none;"><em class="fa fa-lg fa-warning">&nbsp;</em> <span id="spanalertwarning">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
                <div id="divalertdanger" class="alert bg-danger" role="alert" style="display:none;"><em class="fa fa-lg fa-times-circle">&nbsp;</em> <span id="spanalertdanger">Welcome to the admin dashboard panel bootstrap template</span> <a href="javascript:void(0)" onclick="closemessage(this)" class="pull-right"><em class="fa fa-lg fa-close"></em></a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Resumes
                        <a href="/profile/new" class="btn btn-primary pull-right">Add New Resume</a>
                        <a href="javascript:void(0)" class="btn btn-success pull-right" onclick="openimportpopup()"><i class="fas fa-file-import"></i> Import Resumes</a>
                        <a href="/profile/uploads" class="btn btn-warning pull-right"><i class="fas fa-file-import"></i> Uploaded Resumes</a>
                    </div>
                    <input type="hidden" id="hiddenselectedprofileid" value="" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Educational Qualification </label>
                                    <select class="form-control multiple-select" multiple id="selectqualification">
                                        @foreach (EducationalQualificationsResponse qualification in EducationalQualifications)
                                        {
                                            <option value="@qualification.QualificationId">@qualification.QualificationName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Industry </label>
                                    <select class="form-control multiple-select" multiple id="selectindustry">
                                        @foreach (IndustriesResponse industry in Industries)
                                        {
                                            <option value="@industry.IndustryId">@industry.IndustryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Min Experience </label>
                                    <input class="form-control" placeholder="" maxlength="2" id="textminexp" type="number" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Max Experience </label>
                                    <input class="form-control" placeholder="" maxlength="2" id="textmaxexp" type="number" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Location </label>
                                    <input class="form-control" placeholder="" id="textlocation" type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Skills Required (seperate with comma)</label>
                                    <input class="form-control" placeholder="" id="selectskills" type="text" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="javascript:void(0)" style="margin-top: 29px;" class="btn btn-success pull-right" onclick="getprofileslist()">Search Resumes</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <table class="new-tble scrol-tble" id="tableprofiles">
                                    <thead>
                                        <tr class="fixnvig">
                                            <th class="hasinput" colspan="9">
                                                <div class="row">
                                                    <div class="col-lg-6"><div id="displaypagenumbers" class="pgenumd"></div></div>
                                                    <div class="col-lg-6 pull-right">
                                                        <div class="tablesetpaging" id="tablecustum"></div>
                                                        <div id="paginglinks" class="pageclicks"></div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        @*<tr>
                                                <th>

                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" name="FullName" placeholder="Full Name" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" name="EmailId" placeholder="EmailId" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" name="ContactNumber" placeholder="Contact Number" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" name="Experience" placeholder="Experience" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" name="Industry" placeholder="Industry" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" name="Skills" placeholder="Skills" />
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>*@
                                        <tr id="bindtr">
                                            <th data-sort="false">S.No. </th>
                                            <th data-sort="true" sort-name="FullName">Full Name</th>
                                            <th data-sort="true" sort-name="EmailId">EmailId</th>
                                            <th data-sort="true" sort-name="ContactNumber">Contact Number</th>
                                            <th data-sort="true" sort-name="Experience">Experience</th>
                                            <th data-sort="true" sort-name="Industry">Industry</th>
                                            <th data-sort="false">Skills</th>
                                            <th data-sort="false">Resume</th>
                                            <th data-sort="false">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyprofiles">
                                        <tr>
                                            <td colspan="9">
                                                No Resumes found.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--/.panel-->
        </div>
    </div><!--/.row-->
    <div class="modal fade" id="modalimportprofiles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Import Resumes </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closemodalimportprofiles">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="divimportfile">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="hiddenprofilefile" value="" />
                                <input class="form-control" placeholder="" id="fileprofilefile" name="profilefile" type="file" onchange="validateexcelfileformat(this)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <a href="~/UploadedFiles/ProfileUploads/profilesamplesheet.xlsx" target="_blank" id="adownloadsample" class="btn btn-default"><i class="fa fa-download"></i> Download Sample Excel Sheet </a>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divimporteddata" style="display:none;">
                        <div class="col-lg-12 col-md-12">
                            <table id="tableimportedprofiles" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Isvalid</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>EmailId</th>
                                        <th>Contact number</th>
                                        <th>Experience</th>
                                        <th>Location</th>
                                        <th>Skills</th>
                                        <th>About Profile</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyimportedprofiles"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="uploadprofilesfile()" id="btnuploadfile">Proceed</button>
                    <button type="button" class="btn btn-success" style="display:none;" id="btnuploadnewfile" onclick="uploadnewfile()">Upload New File</button>
                    <button type="button" class="btn btn-primary" style="display:none;" id="btnuploadproceed" onclick="proceeduploadprofilesfile()">Proceed</button>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/datatable.js"></script>
    <script src="/app/js/datatables.min.js"></script>
    @Scripts.Render("~/bundles/myprofiles")

    <script type="text/javascript">
        var tableload = null;
        var pageno = 1;
        var pagesize = 10;
        var totalrecords = 0;
        var sortcolumn = "";
        var sortorderby = "";
        $(document).ready(function () {
            sortcolumn = "FullName";
            sortorderby = "asc";
            tableload = function () {
                getprofileslist();
            }
            tableload();
            tabledata("#tableprofiles", tableload);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ulsidemenu li").removeClass("active");
            $("#limenuprofiles").addClass("active");
            $('.multiple-select').fSelect();
        });
    </script>
}

